<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Product</title>
<!--    <link rel="stylesheet" th:href="@{../css/addproduct.css}">-->
    
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Add a New Product</h1>
        <form th:action="@{/admin/addproduct}" method="post" th:object="${product}" class="mt-4">
            <div class="form-group">
                <label for="productName">Product Name:</label>
                <input th:field="*{name}" type="text" id="productName" name="productName" class="form-control" th:required="required">
            </div>
            
            <div class="form-group">
                <label for="productPrice">Product Price:</label>
                <input th:field="*{price}" type="number" id="productPrice" name="productPrice" step="0.01" class="form-control" th:required="required">
            </div>
            
            <div class="form-group">
                <label for="category">Category:</label>
                <select id="category" name="CategoryId" class="form-control">
                    <option th:each="category :${listcategory}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="productImage">Product Image:</label>
                <input type="file" id="productImage" name="productImage" accept="image/*" class="form-control" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
</body>

</html>
