<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Food Order</title>
<!--    <link rel="stylesheet" th:href="@{../css/home.css}">-->
    
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-dark text-white text-center py-5">
        <h1>Welcome to Online Food Order</h1>
        <p>Order your favorite food online!</p>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/signup}">Register</a></li>
           
<!--            <li class="nav-item"><a class="nav-link" th:href="@{/aboutus}">About us</a></li>-->
        </ul>
    </nav>

    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <img th:src="@{../images/ramen.jpg}" alt="Ramen Image" class="card-img-top">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 Online Food Order</p>
    </footer>
</body>
</html>
